*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
      font-family: 'Oswald', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.nav-title{
    font-size:45px;
    color:#181818;
    line-height: normal;
    font-weight: 800;
}
.text-primary{

    color:#FD6E0A;
    
}
nav> ul{
    display:flex;
    text-align: center;
}
nav> ul> li> a{
    text-decoration: none;
}
nav> ul> li{
 list-style: none;
}
nav> ul> li{
margin:50px;
font-size:20px;
color:#474747;
}
nav> ul> li .hire-button{
    height:64px;
    width: 150px;
    color: #ffff;
    background: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    
}

